---
title: PySpark Basics
author: Emily Peters
date: 2025-02-17
categories: [Python, Big Data, Spark]
---![pyspark-image.png]()

# Apache Hadoop
Hadoop provides storage and ways to easily process big data sets. Storage is managed by the Hadoop Distributed File System (HDFS), and the data is processed using MapReduce. <br>
- HDFS divides up data from multiple sources and distributes them across different servers to be processed.The computing environment is redundant, allowing the application to run if a server fails. <br>
- MapReduce distributes data across multiple machines and the brings the processed data back together so it's coherent.

Hadoop has its limits, however. Data cannot be processed in real time. It can only collect data for a certain period of time and then process it all at once. This process is called batch processing.

# Apache Spark
Spark is built for processing large amounts of data, as well as data analysis, machine learning, data visualization, and streaming real-time data. <br>
Spark starts with the driver node, which communicates to the cluser manager. The cluser manager to distributes tasks to different worker nodes. Worker nodes execute the task they were given, communicate with each other if needed, and send the results back to the driver node.<br>
Here are some other attribuutes of Spark:<br>
1. In-Memory Processing <br>
  - Loads data into memory once and performs all operations in-memory <br>
2. Data Reuse <br>
  - Data is cached so that it can be reused <br>
3. Faster Execution <br>
  - Allows for real-time processing <br>
  
Hadoop and Spark can be used together to store big data sets and quickly process data.

# PySpark
PySpark is an API that allows the use of Spark in Python.<br>
- PySpark can incorporate Pandas DataFrames and SQL tables.

PySpark has methods that make data transformation easy to complete, similar to Pandas. A Spark DataFrame has a few key differences:<br>
1. Data is distributed among different machines <br>
2. Operations are executed the same in each node <br>
3. Can process more data than one machine can handle <br>
4. Transformations are not computed until called to action (lazy evaluation) <br>
5. High fault tolerance; can function if a node is disabled and recovers lost data <br>
6. Built for extremely large amounts of data

## PySpark in Google Colab
PySpark is very similar to Pandas. It is very convenient to transform data just like we learned before, just with a slightly different syntax.<br>
Here are the basics of coding with PySpark: <br>

### Loading Data <br>
Every time you use PySpark, you must establish a `SparkSession` entry point. This allows you to transform DataFrames and SQL tables.

In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

There are two ways to approach reading a CSV file. First, if the file is in your local directory, follow this syntax that is similar to Pandas:

In [ ]:
path = '/content/drive/MyDrive/lecture-data/cces.csv'
df = spark.read.csv(path,
                    inferSchema=True,
                    header=True)
df.show()

- Note: in order to see any display of a DataFrame at any point while you're working with it, you must use `.show()`. <br>

Second, if the file is from a URL, you have to create a Pandas DataFrame first. From there, you can convert the Pandas DataFrame into a Spark DataFrame.

In [56]:
import pandas as pd
df_pd = pd.read_csv('https://bcdanl.github.io/data/nba.csv')

df = spark.createDataFrame(df_pd)
df.show()

+---------------+--------------------+--------+--------+--------+
|           Name|                Team|Position|Birthday|  Salary|
+---------------+--------------------+--------+--------+--------+
|   Shake Milton|  Philadelphia 76ers|      SG| 9/26/96| 1445697|
| Christian Wood|     Detroit Pistons|      PF| 9/27/95| 1645357|
|  PJ Washington|   Charlotte Hornets|      PF| 8/23/98| 3831840|
|   Derrick Rose|     Detroit Pistons|      PG| 10/4/88| 7317074|
|  Marial Shayok|  Philadelphia 76ers|       G| 7/26/95|   79568|
| Draymond Green|Golden State Warr...|      PF|  3/4/90|18539130|
|  Kendrick Nunn|          Miami Heat|      SG|  8/3/95| 1416852|
|     Cedi Osman| Cleveland Cavaliers|      SF|  4/8/95| 2907143|
|    Brook Lopez|     Milwaukee Bucks|       C|  4/1/88|12093024|
|   Torrey Craig|      Denver Nuggets|      SF|12/19/90| 2000000|
|Jordan Clarkson| Cleveland Cavaliers|      PG|  6/7/92|13437500|
|    Alex Caruso|  Los Angeles Lakers|      PG| 2/28/94| 2750000|
|   Norvel Pelle|  Philadelphia 76ers|      FC|  2/3/93|   79568|
|  Tyler Johnson|        Phoenix Suns|      PG|  5/7/92|19245370|
|     Alec Burks|Golden State Warr...|      SG| 7/20/91| 2320044|
| JaMychal Green|Los Angeles Clippers|      PF| 6/21/90| 4767000|
|  Dwight Howard|  Los Angeles Lakers|       C| 12/8/85| 5603850|
|   Nikola Jokic|      Denver Nuggets|       C| 2/19/95|27504630|
|  Chris Boucher|     Toronto Raptors|      PF| 1/11/93| 1588231|
|  Marcus Morris|     New York Knicks|      PF|  9/2/89|15000000|
+---------------+--------------------+--------+--------+--------+
only showing top 20 rows

### Summarizing Data <br>
- `df.printSchema()` prints column names and data types <br>
  - the argument, nullable = True allows columns with a null value to print
- `df.columns` prints list of columns <br>
- `df.dtypes` returns a list of tuples containing the column name and data type <br>
- `df.count()` prints the total number of rows <br>
- `df.describe()` prints summary statistics for each column <br>

### Displaying Data <br>
- `df.show()`: default shows the first 20 rows <br>
  - arguments: <br>
  1. n = : number of rows to display <br>
  2. truncate = : either boolean value, or a number specifying how many characters to keep <br>
  3. vertical = : boolean value; if True, each row is displayed vertically <br>

### Selecting Columns <br>
Selecting one column:

In [6]:
df.select("Name").show(5)

+--------------+
|          Name|
+--------------+
|  Shake Milton|
|Christian Wood|
| PJ Washington|
|  Derrick Rose|
| Marial Shayok|
+--------------+
only showing top 5 rows

Selecting multiple columns:

In [7]:
df.select("Name", "Team", "Salary").show(5)

+--------------+------------------+-------+
|          Name|              Team| Salary|
+--------------+------------------+-------+
|  Shake Milton|Philadelphia 76ers|1445697|
|Christian Wood|   Detroit Pistons|1645357|
| PJ Washington| Charlotte Hornets|3831840|
|  Derrick Rose|   Detroit Pistons|7317074|
| Marial Shayok|Philadelphia 76ers|  79568|
+--------------+------------------+-------+
only showing top 5 rows

### Counting Methods <br>
Like previously mentioned, you can use `df.count()` for a count of the entire DataFrame. You can also count specific columns. Here are two ways to do this: <br>

In [8]:
from pyspark.sql.functions import countDistinct
num_teams = df.select(countDistinct("Team")).collect()[0][0]
num_teams

30

This code shows the number of observations of the unique values in the Team column.

In [10]:
df.groupBy("Team").count().show(5)

+--------------------+-----+
|                Team|count|
+--------------------+-----+
|        Phoenix Suns|   15|
|      Boston Celtics|   16|
|    Dallas Mavericks|   13|
|New Orleans Pelicans|   16|
|       Brooklyn Nets|   17|
+--------------------+-----+
only showing top 5 rows

This code shows how many times each unique value in Team occurrs. <br>

### Sorting <br>
- `df.orderBy()` sorts values by a variable given. It can be given ascending/descending intstructions. Sorting by multiple columns requires the use of a list.

In [11]:
df.orderBy("Name").show(5)

+-----------------+--------------------+--------+--------+--------+
|             Name|                Team|Position|Birthday|  Salary|
+-----------------+--------------------+--------+--------+--------+
|     Aaron Gordon|       Orlando Magic|      PF| 9/16/95|19863636|
|    Aaron Holiday|      Indiana Pacers|      PG| 9/30/96| 2239200|
|      Abdel Nader|Oklahoma City Thu...|      SF| 9/25/93| 1618520|
|      Adam Mokoka|       Chicago Bulls|       G| 7/18/98|   79568|
|Admiral Schofield|  Washington Wizards|      SF| 3/30/97| 1000000|
+-----------------+--------------------+--------+--------+--------+
only showing top 5 rows

The default sorting is ascending.

In [12]:
from pyspark.sql.functions import desc
df.orderBy(desc("Salary")).show(5)

+-----------------+--------------------+--------+--------+--------+
|             Name|                Team|Position|Birthday|  Salary|
+-----------------+--------------------+--------+--------+--------+
|    Stephen Curry|Golden State Warr...|      PG| 3/14/88|40231758|
|Russell Westbrook|     Houston Rockets|      PG|11/12/88|38506482|
|       Chris Paul|Oklahoma City Thu...|      PG|  5/6/85|38506482|
|        John Wall|  Washington Wizards|      PG|  9/6/90|38199000|
|     James Harden|     Houston Rockets|      PG| 8/26/89|38199000|
+-----------------+--------------------+--------+--------+--------+
only showing top 5 rows

In [13]:
df.orderBy(["Team", desc("Salary")]).show(5)

+----------------+-------------+--------+--------+--------+
|            Name|         Team|Position|Birthday|  Salary|
+----------------+-------------+--------+--------+--------+
|Chandler Parsons|Atlanta Hawks|      SF|10/25/88|25102512|
|     Evan Turner|Atlanta Hawks|      PG|10/27/88|18606556|
|    Allen Crabbe|Atlanta Hawks|      SG|  4/9/92|18500000|
| De'Andre Hunter|Atlanta Hawks|      SF| 12/2/97| 7068360|
|   Jabari Parker|Atlanta Hawks|      PF| 3/15/95| 6500000|
+----------------+-------------+--------+--------+--------+
only showing top 5 rows

- `nsmallest` and `nlargest` are not functions in PySpark, but there is an equivalent way to do it:

In [ ]:
# nsmallest example:
df.orderBy("Salary").limit(5).show()

# nlargest example:
df.orderBy(desc("Salary")).limit(5).show()

### Row-Based Access <br>
PySpark does not use row indexing, so you have to use other ways to access rows: <br>
1. `df.limit()` or `df.take()` takes an integer and returns a list of the number of rows <br>
2. `df.collect()` returns all the reconds as a list of rows <br>
Here is an example:

In [16]:
df.filter("Team == 'New York Knicks'").show()
df.limit(5).show()
df.take(5)
df.collect()

+-----------------+---------------+--------+--------+--------+
|             Name|           Team|Position|Birthday|  Salary|
+-----------------+---------------+--------+--------+--------+
|    Marcus Morris|New York Knicks|      PF|  9/2/89|15000000|
|   Damyean Dotson|New York Knicks|      SG|  5/6/94| 1618520|
| Ignas Brazdeikis|New York Knicks|      SF|  1/8/99|  898310|
|        Ivan Rabb|New York Knicks|      PF|  2/4/97|   79568|
|       Kevin Knox|New York Knicks|      PF| 8/11/99| 4380120|
|    Julius Randle|New York Knicks|       C|11/29/94|18000000|
|Mitchell Robinson|New York Knicks|       C|  4/1/98| 1559712|
|  Wayne Ellington|New York Knicks|      SG|11/29/87| 8000000|
|       RJ Barrett|New York Knicks|      SG| 6/14/00| 7839960|
|    Elfrid Payton|New York Knicks|      PG| 2/22/94| 8000000|
|    Allonzo Trier|New York Knicks|      PG| 1/17/96| 3551100|
|   Reggie Bullock|New York Knicks|      SF| 3/16/91| 4000000|
|     Bobby Portis|New York Knicks|       C| 2/10/95|15000000|
|       Taj Gibson|New York Knicks|       C| 6/24/85| 9000000|
|  Frank Ntilikina|New York Knicks|      PG| 7/28/98| 4855800|
|     Kadeem Allen|New York Knicks|      PG| 1/15/93|   79568|
+-----------------+---------------+--------+--------+--------+

+--------------+------------------+--------+--------+-------+
|          Name|              Team|Position|Birthday| Salary|
+--------------+------------------+--------+--------+-------+
|  Shake Milton|Philadelphia 76ers|      SG| 9/26/96|1445697|
|Christian Wood|   Detroit Pistons|      PF| 9/27/95|1645357|
| PJ Washington| Charlotte Hornets|      PF| 8/23/98|3831840|
|  Derrick Rose|   Detroit Pistons|      PG| 10/4/88|7317074|
| Marial Shayok|Philadelphia 76ers|       G| 7/26/95|  79568|
+--------------+------------------+--------+--------+-------+

[Row(Name='Shake Milton', Team='Philadelphia 76ers', Position='SG', Birthday='9/26/96', Salary=1445697),
 Row(Name='Christian Wood', Team='Detroit Pistons', Position='PF', Birthday='9/27/95', Salary=1645357),
 Row(Name='PJ Washington', Team='Charlotte Hornets', Position='PF', Birthday='8/23/98', Salary=3831840),
 Row(Name='Derrick Rose', Team='Detroit Pistons', Position='PG', Birthday='10/4/88', Salary=7317074),
 Row(Name='Marial Shayok', Team='Philadelphia 76ers', Position='G', Birthday='7/26/95', Salary=79568),
 Row(Name='Draymond Green', Team='Golden State Warriors', Position='PF', Birthday='3/4/90', Salary=18539130),
 Row(Name='Kendrick Nunn', Team='Miami Heat', Position='SG', Birthday='8/3/95', Salary=1416852),
 Row(Name='Cedi Osman', Team='Cleveland Cavaliers', Position='SF', Birthday='4/8/95', Salary=2907143),
 Row(Name='Brook Lopez', Team='Milwaukee Bucks', Position='C', Birthday='4/1/88', Salary=12093024),
 Row(Name='Torrey Craig', Team='Denver Nuggets', Position='SF', Birthday='12/19/90', Salary=2000000),
 Row(Name='Jordan Clarkson', Team='Cleveland Cavaliers', Position='PG', Birthday='6/7/92', Salary=13437500),
 Row(Name='Alex Caruso', Team='Los Angeles Lakers', Position='PG', Birthday='2/28/94', Salary=2750000),
 Row(Name='Norvel Pelle', Team='Philadelphia 76ers', Position='FC', Birthday='2/3/93', Salary=79568),
 Row(Name='Tyler Johnson', Team='Phoenix Suns', Position='PG', Birthday='5/7/92', Salary=19245370),
 Row(Name='Alec Burks', Team='Golden State Warriors', Position='SG', Birthday='7/20/91', Salary=2320044),
 Row(Name='JaMychal Green', Team='Los Angeles Clippers', Position='PF', Birthday='6/21/90', Salary=4767000),
 Row(Name='Dwight Howard', Team='Los Angeles Lakers', Position='C', Birthday='12/8/85', Salary=5603850),
 Row(Name='Nikola Jokic', Team='Denver Nuggets', Position='C', Birthday='2/19/95', Salary=27504630),
 Row(Name='Chris Boucher', Team='Toronto Raptors', Position='PF', Birthday='1/11/93', Salary=1588231),
 Row(Name='Marcus Morris', Team='New York Knicks', Position='PF', Birthday='9/2/89', Salary=15000000),
 Row(Name='Kevin Huerter', Team='Atlanta Hawks', Position='SG', Birthday='8/27/98', Salary=2636280),
 Row(Name='Rui Hachimura', Team='Washington Wizards', Position='PF', Birthday='2/8/98', Salary=4469160),
 Row(Name='George Hill', Team='Milwaukee Bucks', Position='PG', Birthday='5/4/86', Salary=10133907),
 Row(Name='Nickeil Alexander-Walker', Team='New Orleans Pelicans', Position='SG', Birthday='9/2/98', Salary=2964840),
 Row(Name='Jaylen Hoard', Team='Portland Trail Blazers', Position='SF', Birthday='3/30/99', Salary=79568),
 Row(Name='Tyler Cook', Team='Cleveland Cavaliers', Position='PF', Birthday='9/23/97', Salary=79568),
 Row(Name='Otto Porter', Team='Chicago Bulls', Position='SF', Birthday='6/3/93', Salary=27250576),
 Row(Name='Langston Galloway', Team='Detroit Pistons', Position='PG', Birthday='12/9/91', Salary=7333333),
 Row(Name='Evan Turner', Team='Atlanta Hawks', Position='PG', Birthday='10/27/88', Salary=18606556),
 Row(Name='Norman Powell', Team='Toronto Raptors', Position='SG', Birthday='5/25/93', Salary=10116576),
 Row(Name='Nicolas Claxton', Team='Brooklyn Nets', Position='PF', Birthday='4/17/99', Salary=898310),
 Row(Name='Michael Frazier', Team='Houston Rockets', Position='G', Birthday='3/8/94', Salary=79568),
 Row(Name='Paul Millsap', Team='Denver Nuggets', Position='PF', Birthday='2/10/85', Salary=30000000),
 Row(Name='Furkan Korkmaz', Team='Philadelphia 76ers', Position='SG', Birthday='7/24/97', Salary=1620564),
 Row(Name='Trey Burke', Team='Philadelphia 76ers', Position='PG', Birthday='11/12/92', Salary=2028594),
 Row(Name='Bradley Beal', Team='Washington Wizards', Position='SG', Birthday='6/28/93', Salary=27093018),
 Row(Name='Thomas Bryant', Team='Washington Wizards', Position='C', Birthday='7/31/97', Salary=8000000),
 Row(Name='Dean Wade', Team='Cleveland Cavaliers', Position='PF', Birthday='11/20/96', Salary=79568),
 Row(Name='Chris Paul', Team='Oklahoma City Thunder', Position='PG', Birthday='5/6/85', Salary=38506482),
 Row(Name='Josh Hart', Team='New Orleans Pelicans', Position='SF', Birthday='3/6/95', Salary=1934160),
 Row(Name='LaMarcus Aldridge', Team='San Antonio Spurs', Position='C', Birthday='7/19/85', Salary=26000000),
 Row(Name='DaQuan Jeffries', Team='Sacramento Kings', Position='SG', Birthday='8/30/97', Salary=898310),
 Row(Name='Hamidou Diallo', Team='Oklahoma City Thunder', Position='SF', Birthday='7/31/98', Salary=1416852),
 Row(Name='Jamal Murray', Team='Denver Nuggets', Position='PG', Birthday='2/23/97', Salary=4444746),
 Row(Name='Darius Bazley', Team='Oklahoma City Thunder', Position='PF', Birthday='6/12/00', Salary=2284800),
 Row(Name='Robert Franks', Team='Charlotte Hornets', Position='F', Birthday='12/18/96', Salary=79568),
 Row(Name='Gerald Green', Team='Houston Rockets', Position='SF', Birthday='1/26/86', Salary=2564753),
 Row(Name='Thaddeus Young', Team='Chicago Bulls', Position='PF', Birthday='6/21/88', Salary=12900000),
 Row(Name='Sviatoslav Mykhailiuk', Team='Detroit Pistons', Position='SF', Birthday='6/10/97', Salary=1416852),
 Row(Name='Ian Mahinmi', Team='Washington Wizards', Position='C', Birthday='11/5/86', Salary=15450051),
 Row(Name='Deonte Burton', Team='Oklahoma City Thunder', Position='SG', Birthday='1/31/94', Salary=1416852),
 Row(Name='Markelle Fultz', Team='Orlando Magic', Position='PG', Birthday='5/29/98', Salary=9745200),
 Row(Name='Aaron Gordon', Team='Orlando Magic', Position='PF', Birthday='9/16/95', Salary=19863636),
 Row(Name='Dzanan Musa', Team='Brooklyn Nets', Position='SF', Birthday='5/8/99', Salary=1911600),
 Row(Name='Patrick McCaw', Team='Toronto Raptors', Position='SF', Birthday='10/25/95', Salary=4000000),
 Row(Name='Bismack Biyombo', Team='Charlotte Hornets', Position='C', Birthday='8/28/92', Salary=17000000),
 Row(Name='JaVale McGee', Team='Los Angeles Lakers', Position='C', Birthday='1/19/88', Salary=4000000),
 Row(Name='Juwan Morgan', Team='Utah Jazz', Position='F', Birthday='4/17/97', Salary=796806),
 Row(Name='Marc Gasol', Team='Toronto Raptors', Position='C', Birthday='1/29/85', Salary=25595700),
 Row(Name='Marcus Smart', Team='Boston Celtics', Position='PG', Birthday='3/6/94', Salary=12553571),
 Row(Name='Rudy Gobert', Team='Utah Jazz', Position='C', Birthday='6/26/92', Salary=24258427),
 Row(Name='Wesley Iwundu', Team='Orlando Magic', Position='SF', Birthday='12/20/94', Salary=1618520),
 Row(Name='Dwight Powell', Team='Dallas Mavericks', Position='C', Birthday='7/20/91', Salary=10259375),
 Row(Name='Goran Dragic', Team='Miami Heat', Position='PG', Birthday='5/6/86', Salary=19217900),
 Row(Name='Theo Pinson', Team='Brooklyn Nets', Position='SG', Birthday='11/5/95', Salary=1445697),
 Row(Name='Danilo Gallinari', Team='Oklahoma City Thunder', Position='PF', Birthday='8/8/88', Salary=22615559),
 Row(Name='Joe Ingles', Team='Utah Jazz', Position='PF', Birthday='10/2/87', Salary=11454546),
 Row(Name='Jarrett Culver', Team='Minnesota Timberwolves', Position='SG', Birthday='2/20/99', Salary=5813640),
 Row(Name='Robert Covington', Team='Minnesota Timberwolves', Position='PF', Birthday='12/14/90', Salary=11301219),
 Row(Name='Damyean Dotson', Team='New York Knicks', Position='SG', Birthday='5/6/94', Salary=1618520),
 Row(Name='Patrick Beverley', Team='Los Angeles Clippers', Position='PG', Birthday='7/12/88', Salary=12345680),
 Row(Name='Kevin Love', Team='Cleveland Cavaliers', Position='C', Birthday='9/7/88', Salary=28942830),
 Row(Name='Quinn Cook', Team='Los Angeles Lakers', Position='PG', Birthday='3/23/93', Salary=3000000),
 Row(Name='Justin Wright-Foreman', Team='Utah Jazz', Position='G', Birthday='10/27/97', Salary=79568),
 Row(Name='Noah Vonleh', Team='Minnesota Timberwolves', Position='C', Birthday='8/24/95', Salary=2000000),
 Row(Name='Tyus Jones', Team='Memphis Grizzlies', Position='PG', Birthday='5/10/96', Salary=9258000),
 Row(Name='Dewayne Dedmon', Team='Sacramento Kings', Position='C', Birthday='8/12/89', Salary=13333334),
 Row(Name='Malcolm Brogdon', Team='Indiana Pacers', Position='PG', Birthday='12/11/92', Salary=20000000),
 Row(Name='Ben McLemore', Team='Houston Rockets', Position='SG', Birthday='2/11/93', Salary=2028594),
 Row(Name='Wilson Chandler', Team='Brooklyn Nets', Position='PF', Birthday='5/10/87', Salary=2564753),
 Row(Name='Isaac Bonga', Team='Washington Wizards', Position='PG', Birthday='11/8/99', Salary=1416852),
 Row(Name='Adam Mokoka', Team='Chicago Bulls', Position='G', Birthday='7/18/98', Salary=79568),
 Row(Name='Lonzo Ball', Team='New Orleans Pelicans', Position='PG', Birthday='10/27/97', Salary=8719320),
 Row(Name='Jalen Brunson', Team='Dallas Mavericks', Position='PG', Birthday='8/31/96', Salary=1416852),
 Row(Name='John Collins', Team='Atlanta Hawks', Position='PF', Birthday='9/23/97', Salary=2686560),
 Row(Name='Marvin Williams', Team='Charlotte Hornets', Position='PF', Birthday='6/19/86', Salary=15006250),
 Row(Name='Brad Wanamaker', Team='Boston Celtics', Position='PG', Birthday='7/25/89', Salary=1445697),
 Row(Name='Donte DiVincenzo', Team='Milwaukee Bucks', Position='SG', Birthday='1/31/97', Salary=2905800),
 Row(Name='Omari Spellman', Team='Golden State Warriors', Position='PF', Birthday='7/21/97', Salary=1897800),
 Row(Name='Joe Harris', Team='Brooklyn Nets', Position='SF', Birthday='9/6/91', Salary=7666667),
 Row(Name="Royce O'Neale", Team='Utah Jazz', Position='PF', Birthday='6/5/93', Salary=1618520),
 Row(Name='Deandre Ayton', Team='Phoenix Suns', Position='C', Birthday='7/23/98', Salary=9562920),
 Row(Name='Cory Joseph', Team='Sacramento Kings', Position='PG', Birthday='8/20/91', Salary=12000000),
 Row(Name='Malcolm Miller', Team='Toronto Raptors', Position='SF', Birthday='3/6/93', Salary=1588231),
 Row(Name='Justise Winslow', Team='Miami Heat', Position='PF', Birthday='3/26/96', Salary=13000000),
 Row(Name='Kevin Durant', Team='Brooklyn Nets', Position='PF', Birthday='9/29/88', Salary=37199000),
 Row(Name='Evan Fournier', Team='Orlando Magic', Position='SF', Birthday='10/29/92', Salary=17000000),
 Row(Name='Chris Silva', Team='Miami Heat', Position='PF', Birthday='9/19/96', Salary=79568),
 Row(Name='Vince Carter', Team='Atlanta Hawks', Position='PF', Birthday='1/26/77', Salary=2564753),
 Row(Name='Cody Zeller', Team='Charlotte Hornets', Position='C', Birthday='10/5/92', Salary=14471910),
 Row(Name='Brian Bowen', Team='Indiana Pacers', Position='SG', Birthday='10/2/98', Salary=79568),
 Row(Name='Aaron Holiday', Team='Indiana Pacers', Position='PG', Birthday='9/30/96', Salary=2239200),
 Row(Name='Troy Daniels', Team='Los Angeles Lakers', Position='SG', Birthday='7/15/91', Salary=2028594),
 Row(Name='Buddy Hield', Team='Sacramento Kings', Position='SG', Birthday='12/17/92', Salary=4861207),
 Row(Name='Terance Mann', Team='Los Angeles Clippers', Position='SG', Birthday='10/18/96', Salary=1000000),
 Row(Name='John Konchar', Team='Memphis Grizzlies', Position='SG', Birthday='3/22/96', Salary=79568),
 Row(Name='KZ Okpala', Team='Miami Heat', Position='SF', Birthday='4/28/99', Salary=898310),
 Row(Name='Denzel Valentine', Team='Chicago Bulls', Position='SF', Birthday='11/16/93', Salary=3377568),
 Row(Name='Marquese Chriss', Team='Golden State Warriors', Position='PF', Birthday='7/2/97', Salary=1678854),
 Row(Name='Anthony Davis', Team='Los Angeles Lakers', Position='C', Birthday='3/11/93', Salary=27093019),
 Row(Name='Nemanja Bjelica', Team='Sacramento Kings', Position='PF', Birthday='5/9/88', Salary=6825000),
 Row(Name='Chandler Parsons', Team='Atlanta Hawks', Position='SF', Birthday='10/25/88', Salary=25102512),
 Row(Name='Courtney Lee', Team='Dallas Mavericks', Position='SG', Birthday='10/3/85', Salary=12759670),
 Row(Name='Myles Turner', Team='Indiana Pacers', Position='C', Birthday='3/24/96', Salary=18000000),
 Row(Name="Kyle O'Quinn", Team='Philadelphia 76ers', Position='C', Birthday='3/26/90', Salary=2174318),
 Row(Name='Bryn Forbes', Team='San Antonio Spurs', Position='SG', Birthday='7/23/93', Salary=2875000),
 Row(Name='Duncan Robinson', Team='Miami Heat', Position='PF', Birthday='4/22/94', Salary=1416852),
 Row(Name='Devin Booker', Team='Phoenix Suns', Position='SG', Birthday='10/30/96', Salary=27285000),
 Row(Name='Grant Williams', Team='Boston Celtics', Position='PF', Birthday='11/30/98', Salary=2379840),
 Row(Name='DeMarcus Cousins', Team='Los Angeles Lakers', Position='C', Birthday='8/13/90', Salary=3500000),
 Row(Name='DeMar DeRozan', Team='San Antonio Spurs', Position='SF', Birthday='8/7/89', Salary=27739975),
 Row(Name='Kristaps Porzingis', Team='Dallas Mavericks', Position='PF', Birthday='8/2/95', Salary=27285000),
 Row(Name='Brandon Knight', Team='Cleveland Cavaliers', Position='PG', Birthday='12/2/91', Salary=15643750),
 Row(Name='Thabo Sefolosha', Team='Houston Rockets', Position='PF', Birthday='5/2/84', Salary=2564753),
 Row(Name='David Nwaba', Team='Brooklyn Nets', Position='SF', Birthday='1/14/93', Salary=1678854),
 Row(Name='Quinndary Weatherspoon', Team='San Antonio Spurs', Position='G', Birthday='9/10/96', Salary=79568),
 Row(Name='Dewan Hernandez', Team='Toronto Raptors', Position='C', Birthday='12/9/96', Salary=898310),
 Row(Name='Isaiah Thomas', Team='Washington Wizards', Position='PG', Birthday='2/7/89', Salary=2320044),
 Row(Name='Bruce Brown', Team='Detroit Pistons', Position='SG', Birthday='8/15/96', Salary=1416852),
 Row(Name='Keldon Johnson', Team='San Antonio Spurs', Position='SF', Birthday='10/11/99', Salary=1950600),
 Row(Name='Damian Jones', Team='Atlanta Hawks', Position='C', Birthday='6/30/95', Salary=2305057),
 Row(Name='Luguentz Dort', Team='Oklahoma City Thunder', Position='G', Birthday='4/19/99', Salary=79568),
 Row(Name='Terence Davis', Team='Toronto Raptors', Position='SG', Birthday='5/16/97', Salary=898310),
 Row(Name='Chandler Hutchison', Team='Chicago Bulls', Position='SF', Birthday='4/26/96', Salary=2332320),
 Row(Name='Steven Adams', Team='Oklahoma City Thunder', Position='C', Birthday='7/20/93', Salary=25842697),
 Row(Name='Jordan Poole', Team='Golden State Warriors', Position='SG', Birthday='6/19/99', Salary=1964760),
 Row(Name='Sekou Doumbouya', Team='Detroit Pistons', Position='SF', Birthday='12/23/00', Salary=3285120),
 Row(Name='Zion Williamson', Team='New Orleans Pelicans', Position='F', Birthday='7/6/00', Salary=9757440),
 Row(Name='Mike Muscala', Team='Oklahoma City Thunder', Position='C', Birthday='7/1/91', Salary=2028594),
 Row(Name='Skal Labissiere', Team='Portland Trail Blazers', Position='C', Birthday='3/18/96', Salary=2338846),
 Row(Name='Meyers Leonard', Team='Miami Heat', Position='C', Birthday='2/27/92', Salary=11286515),
 Row(Name='Reggie Jackson', Team='Detroit Pistons', Position='PG', Birthday='4/16/90', Salary=18086956),
 Row(Name='Alfonzo McKinnie', Team='Cleveland Cavaliers', Position='SF', Birthday='9/17/92', Salary=1588231),
 Row(Name='Yuta Watanabe', Team='Memphis Grizzlies', Position='SF', Birthday='10/13/94', Salary=79568),
 Row(Name='Kentavious Caldwell-Pope', Team='Los Angeles Lakers', Position='SG', Birthday='2/18/93', Salary=8089282),
 Row(Name='Kelan Martin', Team='Minnesota Timberwolves', Position='SF', Birthday='8/3/95', Salary=79568),
 Row(Name='OG Anunoby', Team='Toronto Raptors', Position='SF', Birthday='7/17/97', Salary=2281800),
 Row(Name='Tyler Herro', Team='Miami Heat', Position='SG', Birthday='1/20/00', Salary=3640200),
 Row(Name='Richaun Holmes', Team='Sacramento Kings', Position='C', Birthday='10/15/93', Salary=4767000),
 Row(Name='Tyson Chandler', Team='Houston Rockets', Position='C', Birthday='10/2/82', Salary=2564753),
 Row(Name='Solomon Hill', Team='Memphis Grizzlies', Position='SF', Birthday='3/18/91', Salary=13290395),
 Row(Name='Keita Bates-Diop', Team='Minnesota Timberwolves', Position='SF', Birthday='1/23/96', Salary=1416852),
 Row(Name='Kelly Olynyk', Team='Miami Heat', Position='C', Birthday='4/19/91', Salary=12667885),
 Row(Name='Jaxson Hayes', Team='New Orleans Pelicans', Position='C', Birthday='5/23/00', Salary=4862040),
 Row(Name='CJ McCollum', Team='Portland Trail Blazers', Position='SG', Birthday='9/19/91', Salary=27556959),
 Row(Name='Darius Miller', Team='New Orleans Pelicans', Position='SF', Birthday='3/21/90', Salary=7250000),
 Row(Name='Luka Doncic', Team='Dallas Mavericks', Position='PG', Birthday='2/28/99', Salary=7683360),
 Row(Name='DeMarre Carroll', Team='San Antonio Spurs', Position='PF', Birthday='7/27/86', Salary=7000000),
 Row(Name='Cristiano Felicio', Team='Chicago Bulls', Position='C', Birthday='7/7/92', Salary=8156500),
 Row(Name='Zach LaVine', Team='Chicago Bulls', Position='PG', Birthday='3/10/95', Salary=19500000),
 Row(Name='Tremont Waters', Team='Boston Celtics', Position='PG', Birthday='1/10/98', Salary=79568),
 Row(Name='Dejounte Murray', Team='San Antonio Spurs', Position='PG', Birthday='9/19/96', Salary=2321735),
 Row(Name='Jerome Robinson', Team='Los Angeles Clippers', Position='SG', Birthday='2/22/97', Salary=3567720),
 Row(Name='Rudy Gay', Team='San Antonio Spurs', Position='PF', Birthday='8/17/86', Salary=14500000),
 Row(Name='Ryan Broekhoff', Team='Dallas Mavericks', Position='SG', Birthday='8/23/90', Salary=1416852),
 Row(Name='Jake Layman', Team='Minnesota Timberwolves', Position='PF', Birthday='3/7/94', Salary=3581986),
 Row(Name='Cameron Johnson', Team='Phoenix Suns', Position='PF', Birthday='3/3/96', Salary=4033440),
 Row(Name='Allen Crabbe', Team='Atlanta Hawks', Position='SG', Birthday='4/9/92', Salary=18500000),
 Row(Name='Justin James', Team='Sacramento Kings', Position='SG', Birthday='1/24/97', Salary=898310),
 Row(Name='Emmanuel Mudiay', Team='Utah Jazz', Position='PG', Birthday='3/5/96', Salary=1737145),
 Row(Name='Avery Bradley', Team='Los Angeles Lakers', Position='PG', Birthday='11/26/90', Salary=6767000),
 Row(Name='Victor Oladipo', Team='Indiana Pacers', Position='PG', Birthday='5/4/92', Salary=21000000),
 Row(Name='Caleb Martin', Team='Charlotte Hornets', Position='SF', Birthday='9/28/95', Salary=898310),
 Row(Name='Coby White', Team='Chicago Bulls', Position='SG', Birthday='2/16/00', Salary=5307120),
 Row(Name='Isaiah Hartenstein', Team='Houston Rockets', Position='C', Birthday='5/5/98', Salary=1416852),
 Row(Name='Will Barton', Team='Denver Nuggets', Position='SF', Birthday='1/6/91', Salary=12776786),
 Row(Name='Dwayne Bacon', Team='Charlotte Hornets', Position='SG', Birthday='8/30/95', Salary=1618520),
 Row(Name='Harrison Barnes', Team='Sacramento Kings', Position='PF', Birthday='5/30/92', Salary=24147727),
 Row(Name='Tim Frazier', Team='Detroit Pistons', Position='PG', Birthday='11/1/90', Salary=1620564),
 Row(Name='Jimmy Butler', Team='Miami Heat', Position='SF', Birthday='9/14/89', Salary=32742000),
 Row(Name='Gary Harris', Team='Denver Nuggets', Position='SG', Birthday='9/14/94', Salary=17839286),
 Row(Name='Thon Maker', Team='Detroit Pistons', Position='C', Birthday='2/25/97', Salary=3569643),
 Row(Name='Shai Gilgeous-Alexander', Team='Oklahoma City Thunder', Position='PG', Birthday='7/12/98', Salary=3952920),
 Row(Name='Hassan Whiteside', Team='Portland Trail Blazers', Position='C', Birthday='6/13/89', Salary=27093018),
 Row(Name='Karl-Anthony Towns', Team='Minnesota Timberwolves', Position='C', Birthday='11/15/95', Salary=27285000),
 Row(Name='Ky Bowman', Team='Golden State Warriors', Position='PG', Birthday='6/16/97', Salary=79568),
 Row(Name='Ben Simmons', Team='Philadelphia 76ers', Position='PG', Birthday='7/20/96', Salary=8113929),
 Row(Name='Terrence Ross', Team='Orlando Magic', Position='SF', Birthday='2/5/91', Salary=12500000),
 Row(Name='Jordan McLaughlin', Team='Minnesota Timberwolves', Position='PG', Birthday='4/9/96', Salary=79568),
 Row(Name='Daniel Theis', Team='Boston Celtics', Position='C', Birthday='4/4/92', Salary=5000000),
 Row(Name='Jonathan Isaac', Team='Orlando Magic', Position='PF', Birthday='10/3/97', Salary=5806440),
 Row(Name='Cheick Diallo', Team='Phoenix Suns', Position='C', Birthday='9/13/96', Salary=1678854),

### Changing Variables <br>
1. Adding Columns <br>
`df.withColumn()` takes the new name, along with how you'd like to create the new column. When using an already existing column, you must specify that it is a column by using `col('ColumnName')`. <br>
- Note: you need to import `col()` in order for it to be recognized. <br>

Example: Dividing the NBA salaries by 1000

In [24]:
from pyspark.sql.functions import col
df = df.withColumn("SalaryK", col("Salary")/1000)

+--------------+------------------+--------+--------+-------+--------+
|          Name|              Team|Position|Birthday| Salary| SalaryK|
+--------------+------------------+--------+--------+-------+--------+
|  Shake Milton|Philadelphia 76ers|      SG| 9/26/96|1445697|1445.697|
|Christian Wood|   Detroit Pistons|      PF| 9/27/95|1645357|1645.357|
| PJ Washington| Charlotte Hornets|      PF| 8/23/98|3831840| 3831.84|
|  Derrick Rose|   Detroit Pistons|      PG| 10/4/88|7317074|7317.074|
| Marial Shayok|Philadelphia 76ers|       G| 7/26/95|  79568|  79.568|
+--------------+------------------+--------+--------+-------+--------+
only showing top 5 rows

2. Removing Columns <br>
`df.drop()` takes one or multiple column names. <br>
Example: Removing 'SalaryK'

In [28]:
df = df.drop("SalaryK").show(5)

+--------------+------------------+--------+--------+-------+
|          Name|              Team|Position|Birthday| Salary|
+--------------+------------------+--------+--------+-------+
|  Shake Milton|Philadelphia 76ers|      SG| 9/26/96|1445697|
|Christian Wood|   Detroit Pistons|      PF| 9/27/95|1645357|
| PJ Washington| Charlotte Hornets|      PF| 8/23/98|3831840|
|  Derrick Rose|   Detroit Pistons|      PG| 10/4/88|7317074|
| Marial Shayok|Philadelphia 76ers|       G| 7/26/95|  79568|
+--------------+------------------+--------+--------+-------+
only showing top 5 rows

3. Renaming Columns <br>
`df.withColumnRenamed()` takes the current column name, followed by the new name
Example: Changing 'Birthday' to 'DateOfBirth'

In [32]:
df = df.withColumnRenamed("Birthday", "DateOfBirth").show(5)

+--------------+------------------+--------+-----------+-------+
|          Name|              Team|Position|DateOfBirth| Salary|
+--------------+------------------+--------+-----------+-------+
|  Shake Milton|Philadelphia 76ers|      SG|    9/26/96|1445697|
|Christian Wood|   Detroit Pistons|      PF|    9/27/95|1645357|
| PJ Washington| Charlotte Hornets|      PF|    8/23/98|3831840|
|  Derrick Rose|   Detroit Pistons|      PG|    10/4/88|7317074|
| Marial Shayok|Philadelphia 76ers|       G|    7/26/95|  79568|
+--------------+------------------+--------+-----------+-------+
only showing top 5 rows

4. Rearranging Columns
Use `select()` to order the columns in the way that you would like. <br>
Example:

In [40]:
df = df.select("Name", "Team", "Position", "Salary").show(5)

+--------------+------------------+--------+-------+
|          Name|              Team|Position| Salary|
+--------------+------------------+--------+-------+
|  Shake Milton|Philadelphia 76ers|      SG|1445697|
|Christian Wood|   Detroit Pistons|      PF|1645357|
| PJ Washington| Charlotte Hornets|      PF|3831840|
|  Derrick Rose|   Detroit Pistons|      PG|7317074|
| Marial Shayok|Philadelphia 76ers|       G|  79568|
+--------------+------------------+--------+-------+
only showing top 5 rows

### Mathematical & Vectorized Operations <br>
1. Aggregate Functions: <br>
- `mean()` <br>
- `min()` <br>
- `max()` <br>
- `stdev_pop()` <br>
- `median()` <br>
These functions are used within `selectExpr()`. They take the name of the variable you'd like to aggregate, and then add as "new_variable_name" after. <br>
Here are the aggregation functions in action:

In [43]:
df.selectExpr(
    "mean(Salary) as mean_salary",
    "min(Salary) as min_salary",
    "max(Salary) as max_salary",
    "stddev_pop(Salary) as std_salary"
).show()

+-----------------+----------+----------+-----------------+
|      mean_salary|min_salary|max_salary|       std_salary|
+-----------------+----------+----------+-----------------+
|7653583.764444444|     79568|  40231758|9278483.657952718|
+-----------------+----------+----------+-----------------+

1. Using the `functions` package

In [44]:
from pyspark.sql import functions as F

This package will allow you to create new columns or transform current ones. <br>
Examples: <br>
- `F.avg()` <br>
- `F.concat()` <br>
- `F.lit()` <br>
- `F.col()` <br>

Here are these fucntions in action:

In [47]:
salary_mean = df.select(F.avg("Salary").alias("mean_salary")).collect()[0]["mean_salary"]

df2 = (
    df
    .withColumn("Salary_2x", F.col("Salary") * 2)    # Add Salary_2x
    .withColumn(
        "Name_w_Position",           # Concatenate Name and Position
        F.concat(F.col("Name"), F.lit(" ("), F.col("Position"), F.lit(")")))
    .withColumn(
        "Salary_minus_Mean",        # Subtract mean salary
        F.col("Salary") - F.lit(salary_mean))
).show(5)

+--------------+------------------+--------+--------+-------+---------+-------------------+-------------------+
|          Name|              Team|Position|Birthday| Salary|Salary_2x|    Name_w_Position|  Salary_minus_Mean|
+--------------+------------------+--------+--------+-------+---------+-------------------+-------------------+
|  Shake Milton|Philadelphia 76ers|      SG| 9/26/96|1445697|  2891394|  Shake Milton (SG)| -6207886.764444444|
|Christian Wood|   Detroit Pistons|      PF| 9/27/95|1645357|  3290714|Christian Wood (PF)| -6008226.764444444|
| PJ Washington| Charlotte Hornets|      PF| 8/23/98|3831840|  7663680| PJ Washington (PF)|-3821743.7644444443|
|  Derrick Rose|   Detroit Pistons|      PG| 10/4/88|7317074| 14634148|  Derrick Rose (PG)| -336509.7644444443|
| Marial Shayok|Philadelphia 76ers|       G| 7/26/95|  79568|   159136|  Marial Shayok (G)| -7574015.764444444|
+--------------+------------------+--------+--------+-------+---------+-------------------+-------------------+
only showing top 5 rows

### Converting Data Types <br>
1. `.cast()` is used after a variable is specified, and takes different data types as a string. <br>
2. `to_date()` converts data to a specified date format. It takes the variable to be changed, and the specific date format you wish to chose.<br>

In [49]:
from pyspark.sql.functions import to_date

df = df.withColumn('DateOfBirth_ts', to_date('Birthday','M/d/yy')).show(5)

+--------------+------------------+--------+--------+-------+--------------+
|          Name|              Team|Position|Birthday| Salary|DateOfBirth_ts|
+--------------+------------------+--------+--------+-------+--------------+
|  Shake Milton|Philadelphia 76ers|      SG| 9/26/96|1445697|    2096-09-26|
|Christian Wood|   Detroit Pistons|      PF| 9/27/95|1645357|    2095-09-27|
| PJ Washington| Charlotte Hornets|      PF| 8/23/98|3831840|    2098-08-23|
|  Derrick Rose|   Detroit Pistons|      PG| 10/4/88|7317074|    2088-10-04|
| Marial Shayok|Philadelphia 76ers|       G| 7/26/95|  79568|    2095-07-26|
+--------------+------------------+--------+--------+-------+--------------+
only showing top 5 rows

Main Data Types: <br>
- `int` <br>
- `float` <br>
- `string` <br>
- `boolean` <br>
- `date` <br>
- `timestamp` <br>

### Filtering by a Condition <br>
`df.filter()` takes one or multiple conditions to be met and displayed. Separate conditions by putting each one in parentheses and with the & or | sign. <br>
Here are some examples with a new DataFrame:

In [59]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
df_pd = pd.read_csv("https://bcdanl.github.io/data/employment.csv")
df_pd = df_pd.where(pd.notnull(df_pd), None)  # Convert NaN to None
df = spark.createDataFrame(df_pd)

In [61]:
df.filter(col("Salary") > 100000).show(5)

+----------+------+----------+--------+-----+---------+
|First Name|Gender|Start Date|  Salary| Mgmt|     Team|
+----------+------+----------+--------+-----+---------+
|   Douglas|  Male|    8/6/93|     NaN| true|Marketing|
|     Maria|Female|      NULL|130590.0|false|  Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|  Finance|
|     Larry|  Male|   1/24/98|101004.0| true|       IT|
|    Dennis|  Male|   4/18/87|115163.0|false|    Legal|
+----------+------+----------+--------+-----+---------+
only showing top 5 rows

In [62]:
#or

df.filter(
    ( col("Team") == "Finance" ) &
    ( col("Salary") >= 100000 )
).show(5)

+----------+------+----------+--------+-----+-------+
|First Name|Gender|Start Date|  Salary| Mgmt|   Team|
+----------+------+----------+--------+-----+-------+
|     Maria|Female|      NULL|130590.0|false|Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|Finance|
|     Bruce|  Male|  11/28/09|114796.0|false|Finance|
|      Carl|  Male|    5/3/06|130276.0| true|Finance|
|     Irene|  NULL|   7/14/15|100863.0| true|Finance|
+----------+------+----------+--------+-----+-------+
only showing top 5 rows

In [63]:
#or

df.filter(
    (col("Team") == "Finance") |
    (col("Team") == "Legal")   |
    (col("Team") == "Sales")
).show(5)

+----------+------+----------+--------+-----+-------+
|First Name|Gender|Start Date|  Salary| Mgmt|   Team|
+----------+------+----------+--------+-----+-------+
|     Maria|Female|      NULL|130590.0|false|Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|Finance|
|    Dennis|  Male|   4/18/87|115163.0|false|  Legal|
|      NULL|Female|   7/20/15| 45906.0| NULL|Finance|
|     Julie|Female|  10/26/97|102508.0| true|  Legal|
+----------+------+----------+--------+-----+-------+
only showing top 5 rows

`isin()` used within `filter()`, takes a list of values within a variable and filters only those values.

In [65]:
df.filter(col('Team').isin('Finance','Legal','Sales')).show(5)

+----------+------+----------+--------+-----+-------+
|First Name|Gender|Start Date|  Salary| Mgmt|   Team|
+----------+------+----------+--------+-----+-------+
|     Maria|Female|      NULL|130590.0|false|Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|Finance|
|    Dennis|  Male|   4/18/87|115163.0|false|  Legal|
|      NULL|Female|   7/20/15| 45906.0| NULL|Finance|
|     Julie|Female|  10/26/97|102508.0| true|  Legal|
+----------+------+----------+--------+-----+-------+
only showing top 5 rows

`between()` is also used within `filter()`. It takes a range of values and returns True if a value falls wihin the range.

In [66]:
df_between = df.filter(col('Salary').between(90000,100000))
df_between.show(5)

+----------+------+----------+-------+-----+-----------+
|First Name|Gender|Start Date| Salary| Mgmt|       Team|
+----------+------+----------+-------+-----+-----------+
|    Angela|Female|  11/22/05|95570.0| true|Engineering|
|    Jeremy|  Male|   9/21/10|90370.0|false|         HR|
|    Joshua|  NULL|    3/8/12|90816.0| true|         IT|
|      John|  Male|    7/1/92|97950.0|false|         IT|
|     Jerry|  Male|   1/10/04|95734.0|false|         IT|
+----------+------+----------+-------+-----+-----------+
only showing top 5 rows

### Missing Values
Find how many missing values are in a column with `isNull()`:

In [67]:
df.filter(col('Team').isNull()).count()

44

You can find how many non-null values by using the same code and replacing `isNull()` with `isNotNull()`. <br>

Drop rows with missing values with `na.drop()`:

In [73]:
df_drop = df.na.drop().show(10)

+----------+------+----------+--------+-----+------------+
|First Name|Gender|Start Date|  Salary| Mgmt|        Team|
+----------+------+----------+--------+-----+------------+
|     Larry|  Male|   1/24/98|101004.0| true|          IT|
|    Dennis|  Male|   4/18/87|115163.0|false|       Legal|
|      Ruby|Female|   8/17/87| 65476.0| true|     Product|
|    Angela|Female|  11/22/05| 95570.0| true| Engineering|
|   Frances|Female|    8/8/02|139852.0| true|Business Dev|
|     Julie|Female|  10/26/97|102508.0| true|       Legal|
|   Brandon|  Male|   12/1/80|112807.0| true|          HR|
|      Gary|  Male|   1/27/08|109831.0|false|       Sales|
|  Kimberly|Female|   1/14/99| 41426.0| true|     Finance|
|   Lillian|Female|    6/5/16| 59414.0|false|     Product|
+----------+------+----------+--------+-----+------------+
only showing top 10 rows

- takes the argument `how = 'all'`, which removes observations that all values are missing <br>
- use the argument `subset = ` to target rows with missing values in a given variable <br>

In [71]:
df_drop_subset = df.na.drop(subset=["Gender", "Team"]).show(10)

+----------+------+----------+--------+-----+------------+
|First Name|Gender|Start Date|  Salary| Mgmt|        Team|
+----------+------+----------+--------+-----+------------+
|   Douglas|  Male|    8/6/93|     NaN| true|   Marketing|
|     Maria|Female|      NULL|130590.0|false|     Finance|
|     Larry|  Male|   1/24/98|101004.0| true|          IT|
|    Dennis|  Male|   4/18/87|115163.0|false|       Legal|
|      Ruby|Female|   8/17/87| 65476.0| true|     Product|
|      NULL|Female|   7/20/15| 45906.0| NULL|     Finance|
|    Angela|Female|  11/22/05| 95570.0| true| Engineering|
|   Frances|Female|    8/8/02|139852.0| true|Business Dev|
|     Julie|Female|  10/26/97|102508.0| true|       Legal|
|   Brandon|  Male|   12/1/80|112807.0| true|          HR|
+----------+------+----------+--------+-----+------------+
only showing top 10 rows

`na.fill()` fills in null values with a specified value.

In [72]:
df_fill = df.na.fill(value = 0, subset = ["Salary"]).show(10)

+----------+------+----------+--------+-----+------------+
|First Name|Gender|Start Date|  Salary| Mgmt|        Team|
+----------+------+----------+--------+-----+------------+
|   Douglas|  Male|    8/6/93|     0.0| true|   Marketing|
|    Thomas|  Male|   3/31/96| 61933.0| true|        NULL|
|     Maria|Female|      NULL|130590.0|false|     Finance|
|     Jerry|  NULL|    3/4/05|138705.0| true|     Finance|
|     Larry|  Male|   1/24/98|101004.0| true|          IT|
|    Dennis|  Male|   4/18/87|115163.0|false|       Legal|
|      Ruby|Female|   8/17/87| 65476.0| true|     Product|
|      NULL|Female|   7/20/15| 45906.0| NULL|     Finance|
|    Angela|Female|  11/22/05| 95570.0| true| Engineering|
|   Frances|Female|    8/8/02|139852.0| true|Business Dev|
+----------+------+----------+--------+-----+------------+
only showing top 10 rows

 - you can do multiple variables at a time by usingn a dictionary instead of `value = , subset = `

### Dealing with Duplicates
`dropDuplicates()` drops all rows that are exact duplicates

In [74]:
df_no_dups = df.dropDuplicates()

  - add `['Variable_Name']` in the function to specify how to drop duplicates

In [75]:
df_no_dups_subset = df.dropDuplicates(["Team"])

Now you're all caught up on the PySpark basics!